* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-family: "Catamaran", sans-serif;
  text-align: center;
}

.container {
  height: 800px;
  width: 100%;
  margin: auto;
  display: flex;
}

.boardContainer {
  height: 30rem;
  width: 30rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.squareDiv {
  border: solid 0.1rem black;
}
